/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.dialog-demo .mat-dialog-container {
    padding: 0;
    overflow: hidden;
    height: auto;
}

.dialog-demo .mat-dialog-container .mat-dialog-content{
    padding: 14px;
    overflow: auto;
}